doctype html
html
  block init
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    //link(rel="icon", type="image/ico", href="img/favicon.png")
    link(rel='stylesheet', href='css/default.css', media='screen',type='text/css')
    script.
      if (typeof module === 'object') { window.module = module; module = undefined; }
    // jQuery and web libraries BEGIN
    script(type="text/javascript", src="js/jquery-3.1.1.min.js")
    script(type="text/javascript", src="js/default.js")
    // jQuery and web libraries END
    script.
      if (window.module) module = window.module;
    title
      block title
    block head
  block body
  block closing
