h2 Credits

.container
  .col-3
    h3 Snapshots Slider
    p.
      Das Programm Snapshots Slider wurde von IMAGINARY für das Mathematische Forschungsinstitut Oberwolfach entwickelt.
    p.
      Programmierung: Christian Stussak
    p.
      Lizenz: Apache 2.0
    p.
      Links:<br>
      www.mfo.de/snapshots<br>
      www.imaginary.org/snapshots

  .col-3
    h3 SURFER
    p.
      Das Programm SURFER wurde für die Ausstellung »IMAGINARY – mit den Augen der Mathematik« entwickelt.
    p.
      Leitung: Gert-Martin Greuel<br>
      Programmierung: Christian Stussak (Java-Renderer), Maik Urbannek (JavaFX), Henning Meyer (Version 2008)<br>
      Konzept, Koordination: Andreas Daniel Matt, Anna Hartkopf<br>
      Design: Christoph Knoth<br>
      Beratung, Galerien: Oliver Labs<br>
      Galerien: Herwig Hauser<br>
      Texte: Maria Alberich, Jordi Buendía, Capi Corrales, Anna Hartkopf, Herwig Hauser, Oliver Labs, Andreas Daniel Matt, Lara May, Anna Sabater and Emilio Sánchez<br>
    p.
      Lizenz: Apache 2.0
    p.
      Link:<br>
      www.imaginary.org/program/surfer

  .col-3
    h3 Morenaments
    p.
      Das Programm Morenaments wurde von Martin von Gagern entwickelt.
    p.
      Lizenz: GPL-2.0
    p.
      Links:<br>
      www.morenaments.de<br>
      www.imaginary.org/program/morenaments

    p.
      &nbsp;

    h3 Karten der Erde
    p.
      Das Programm wurde von Daniel Ramos des MMACA (Museu de Matemàtiques de Catalunya) entwickelt.
    p.
      Lizenz:<br>
      CC-BY-NC-SA-3.0
    p.
      Links:<br>
      www.imaginary.org/program/the-sphere-of-the-earth

  .col-3
    p.
      Programmierung des Menüs: Eric Londaits
    p.
      Eine Station von IMAGINARY (www.imaginary.org).
