h2 ZUR ENTSTEHUNG DER PROGRAMME UND INHALTE

.container
  .col-6
    p.
      Die Programme Snapshot Slider, SURFER, Morenaments und Karten der Erde werden von der Plattform IMAGINARY –
      open mathematics zur Verfügung gestellt. Sie können, ebenso wie viele weitere Programme, Bilder und
      sonstige Inhalte, unter www.imaginary.org heruntergeladen und weiterverbreitet werden.
    p.
      IMAGINARY wurde im Jahr der Mathematik 2008 am Mathematischen Forschungsinstitut Oberwolfach (MFO) als
      interaktive Wanderausstellung ins Leben gerufen und hat sich mit Förderung der Klaus Tschira Stiftung im
      Laufe der letzten Jahre zu einer inzwischen selbständigen open-source-Plattform für Mathematikkommunikation
      entwickelt, die die breite Öffentlichkeit mit ihrem didaktischen und ästhetischen Konzept für Mathematik
      begeistert.
  .col-6
    p.
      Das Projekt Schnappschüsse moderner Mathematik aus Oberwolfach ging im Januar 2014 aus dem von der Klaus
      Tschira Stiftung finanzierten Nachfolgeprojekt Oberwolfach meets IMAGINARY (2013 – 2016) hervor, wobei
      es auch von der Oberwolfach Stiftung unterstützt wurde. Die Schnappschüsse sind kurze Texte, in denen
      Ideen und Lösungsansätze für aktuelle Probleme in der Mathematik und ihren diversen Anwendungen auf
      möglichst verständliche Art und Weise erklärt werden. Sie richten sich an alle, die sich für moderne
      Mathematik interessieren. Die Schnappschüsse werden von Gastwissenschaftlerinnen und -wissenschaftlern
      am MFO geschrieben. Ein Team von Editorinnen und Editoren unterstützt die Autoren dabei, komplizierte
      Inhalte an die breite Öffentlichkeit zu vermitteln. Übrigens werden alle Schnappschüsse unter einer
      Creative-Commons-Lizenz veröffentlicht und dürfen weiterverbreitet werden.
    p.
      Das MFO gilt in der Mathematik als eines der renommiertesten Institute seiner Art und wird jedes Jahr von
      etwa 2500 Mathematikerinnen und Mathematiker aus aller Welt besucht, die es als Tagungs- und
      Forschungseinrichtung nutzen.